﻿@{
    ViewData["Title"] = "Contact";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>



    <section>
        <center>
            <div class="text-2 bg-secondary p-5 w-75">
                <h1>Welcome To Contact US Page</h1>
                <p>@*Route Academy*@</p>
            </div>
        </center>
    </section>





</body>
</html>